/* Base */
.DescargableBase {
    background-color: #e2dcd9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Josefin Sans';
    font-weight:300;
    border: none;
    gap: 0rem;
    width:100%;
    border:none;
}

@media (width <=1100px) {
    .DescargableBase {
        flex-direction: column;

    }
}
/* Imagen */

.DescargableImagen {
    display: flex;
    justify-content: center;
    border: inherit;
    margin-right: 5%;
    width: 40%;
}
@media (width <=1200px) {
    .DescargableImagen {
        display:flex;
    }
}

.DescargableImagenImg{
    height:420px;
}

@media (width <=1200px) {
    .DescargableImagenImg {
        height:200px;
    }
}

/* Texto */
.DescargableTexto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: none;
    width: 60%;
    gap: 2rem;
}

@media (width <=1200px) {
    .DescargableTexto {
        width: 80%;
        gap: 2rem;
    }
}


.DescargableTextoTitulo {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 300;
    border: none;
    line-height: 1.5;
    margin-top: 5%;
}

@media (width <=1000px) {
    .DescargableTextoTitulo {
        font-size: 20px;
    }
}

.DescargableTextoTexto {
    display: flex;
    justify-content: center;
    font-size: 20px;
    border: none;
    line-height: 1.5;
}

@media (width <=1000px) {
    .DescargableTextoTexto {
        font-size: 15px;
        display: none;
    }
}

.DescargableTextoTextoMobile{
    display: none;
}
@media (width <=1000px) {
    .DescargableTextoTextoMobile {
        display: flex;
    }
}

/* Form */
.DescargableForm {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: none;
    gap: 1rem;
}

/* Inputs */
.DescargableInputs {
    background-color: #f2edec;
    font-family: 'Josefin Sans';
    font-weight:300;
    justify-content: space-between;
    font-size: calc(10px + 1vmin);
    border:2px solid black;
    min-height: 40px;
}

/* Texto politica */
.DescargablePolitica{
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.DescargableTextoPolitica {
    font-size: 15px;
    border: inherit;
}

@media (width <=1100px) {
    .DescargableTextoPolitica {
        font-size: 13px;
    }
}

/* Boton */
.DescargableBotonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: inherit;
    margin-top: 5%;
    margin-bottom: 5%;
}

.DescargableBoton {
    background-color: #31464e;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 350;
    font-size: 18px;
    color: #e2dcd9;
    width: 150px;
    min-height: 40px;
    border: inherit;
    border-radius: 0%;
}

@media (width <=1100px) {
    .DescargableBoton {
        width: 160px;
    }
}

.MailchimpStyle button {
    clear: left;
    color: black;
    background-color: black;
    margin: 2px;
  }
