.SobremiBase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Josefin Sans';
    width: 60%;
    margin-left: 20%;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 4%;
    border: none;
}

@media (width <=1200px) {
    .SobremiBase {
        margin-left: 10%;
        width: 80%;
    }
}

/* Bienvenidos */

.SobremiFilosofia {
    display: flex;
    flex-direction: column;
    border: inherit;
    padding-top: 70px;
}

.SobremiCentrado {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: inherit;
    margin-top: 0px;
}

.SobremiFilosofiaFila {
    display: flex;
    flex-direction: row;
    border: inherit;
    justify-content: space-between;
}

@media (width <=900px) {
    .SobremiFilosofiaFila {
        flex-direction: column;
    }
}

.TituloDoradoBienvenidos {
    left: 200px;
    color: #a78b6c;
    font-size: 60px;
    font-family: 'Brittany';
    border: none;
    align-items: center;
    width: 30%;
}

@media (width <=1200px) {
    .TituloDoradoBienvenidos {
        font-size: 50px;
        margin-top: 3%;
        padding-top: 3%;
    }
}


.SobremiBienvenidosTexto {
    display: flex;
    align-items: center;
    width: 60%;
    font-weight: 400;
    border: inherit;
}

@media (width <=900px) {
    .SobremiBienvenidosTexto {
        width: 100%;
    }
}
.SobremiFilosfiaFoto {
    border: inherit;
}

.SobremiHistoria {
    border: inherit;
}

.SobremiTrayectoria {
    border: inherit;
}

.SobremiDivisionTexto {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: inherit;
}

.SobremiTextoMayus {
    display: flex;
    justify-content: left;
    font-family: 'Montserrat';
    font-size: 18px;
    border: inherit;
    font-weight: 600;
}

.TextoJustificado {
    text-align: justify;
    text-justify: distribute;
    font-size: inherit;
    line-height: 1.5;
}