.DondeEstamosBase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-left: 20%;
  margin-bottom: 5%;
  width: 60%;
}

@media (width <=1200px) {
  .DondeEstamosBase {
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 12%;
  }
}

.DondeEstamos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  border: inherit;
  width: 100%;
}

@media (width <=1200px) {
  .DondeEstamos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
    gap:1rem;
  }
}

.DondeEstamosDivisionRigth {
  border: inherit;
  width: 50%;
}

@media (width <=1200px) {
  .DondeEstamosDivisionRigth {
    width: 100%;
    height: 300px;

  }
}

.DondeEstamosDivisionLeft {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: inherit;
  gap: 2.5rem;

}

@media (width <=1200px) {
  .DondeEstamosDivisionLeft {
    gap: 2rem;
    margin-bottom: 10%;
    width:50%;
  }
}

.DondeEstamosDivisionIcono {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: inherit;
  gap: 2rem;
}

.DondeEstamosIcono {
  justify-content: left;
  width: 35px;
  border: inherit;
}

.DondeEstamosDivisionTexto {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: inherit;
}

.DondeEstamosTextoMayus {
  display: flex;
  justify-content: left;
  font-family: 'Montserrat';
  font-size: 18px;
  border: inherit;
}

.DondeEstamosTexto {
  display: flex;
  float: left;
  justify-content: left;
  font-family: 'Josefin Sans';
  font-weight: 300;
  font-size: 18px;
  border: none
}

.DondeEstamosBotonReservarContainer{
  display:flex;
  border: inherit;
  justify-content: center;
}

.DondeEstamosBotonReservar {
  background-color: #31464e;
  display: flex;
  color: #e2dcd9;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  border-radius: 0;
  height: 40px;
  margin-left: 0;
  width: 180px;
  border: inherit;
  font-size: 18px;
}

.DondeEstamosMap {
  width: 100%;
  height: 100%;
  margin: 0;
}
.LineVertical {
  margin-left: 50%;
  border-left: 1.5px solid black;
  min-height: 60px;
}