.DondeEstamosBase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  margin-left: 20%;
  width: 60%;
}

@media (width <=1200px) {
  .DondeEstamosBase {
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    margin-top:5%;
  }
}

.DondeEstamos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: inherit;
  width:100%;
}

@media (width <=1200px) {
  .DondeEstamos {
    flex-direction: column;
    margin-top:5%;
    width:100%;
  }
}

.DondeEstamosDivisionRigth {
  border: inherit;
  margin-top:5%;
  margin-bottom:10%;
}

.DondeEstamosDivisionLeft {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: none;
  gap:4rem;

}
@media (width <=1300px) {
.DondeEstamosDivisionLeft {
  gap:2rem;
  margin-bottom: 10%;
}
}

.DondeEstamosDivisionIcono {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: none;
  gap: 2rem;
}

.DondeEstamosIcono {
  justify-content: left;
  width: 35px;
  border: inherit;
}

.DondeEstamosDivisionTexto {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: inherit;
}
.DondeEstamosTextoMayus {
  display: flex;
  justify-content: left;
  font-family: 'Montserrat';
  font-size: 18px;
  border: inherit;
}

.DondeEstamosTexto {
  display: flex;
  float: left;
  justify-content: left;
  font-family: 'Josefin Sans';
  font-weight:300;
  font-size: 18px;
  border: none
}

.DondeEstamosBotonReservar{
  background-color: #31464e;
  display: flex;
  color: #e2dcd9;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 18px;
  margin-left: 25%;
  width: 50%;
  border: inherit;
}

.DondeEstamosMap{
  width:500px;
   height:400px ;
   margin:0;
}
@media (width <= 1300px){
  .DondeEstamosMap {
    width:300px;
  }
}