/* Main */
.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  border: none;
  color: black;
  font-family: 'Josefin Sans';
  font-weight:300;
}

.FooterMain {
  background-color: #cfbfae;
  display: flex;
  flex-direction: row;
  border: inherit;
  color: black;
  width: 100%;
  padding-top: 1.5%;
  padding-bottom: 1%;
}

/* Parte izquierda Descarga */
.FooterMainDescarga {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  margin-left: 18%;
  border: inherit;
}

@media (width <=900px) {
  .FooterMainDescarga {
    margin-left: 13%;
  }
}

.FooterMainDescargaImagen {
  display: flex;
  margin-right: 25%;
  width: 70%;
  scale: 1;
  align-items: right;
  justify-content: right;
  border: inherit;
}

.FooterMainDescargaTexto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: inherit;
  height: 100%;
}

.FooterMainDescargaTextoTitulo {
  font-size: 17px;
  border: inherit;
}

@media (width <=900px) {
  .FooterMainDescargaTextoTitulo {
    font-size: 10px;
  }
}

.FooterMainDescargaTextoTexto {
  font-size: 15px;
  border: inherit;
}

@media (width <=900px) {
  .FooterMainDescargaTextoTexto {
    font-size: 8px;
  }
}

.FooterMainDescargaBoton {
  background-color: #31464e;
  color: #cfbfae;
  border: inherit;
  border: 1px solid black;
}

.LinkBoton {
  display: flex;
  font-family: 'Montserrat';
  justify-content: center;
  text-decoration: "none";
  color: #cfbfae;
  font-size: 15px;
  border: none;
}

@media (width <=900px) {
  .LinkBoton {
    font-size: 5px;
  }
}

/* Parte derecha Siguenos */
.FooterMainSiguenos {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-between;
  width: 30%;
  border: inherit;
}

@media (width <=900px) {
  .FooterMainSiguenos {
    gap: 0rem;
  }
}

.FooterMainSiguenosIcono {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border: inherit;
  height: 20%;
  scale:0.7;
}

@media (width <=900px) {
  .FooterMainSiguenosIcono {
    scale: 0.35;
  }
}

.FooterMainSiguenosIconoIcono {
  border: inherit;
}

.FooterMainSiguenosTextoTitulo {
  font-size: 18px;
  display: flex;
  justify-content: center;
  border: inherit;
}

@media (width <=900px) {
  .FooterMainSiguenosTextoTitulo {
    font-size: 10px;
  }
}

.FooterMainSiguenosTextoTexto {
  font-size: 15px;
  display: flex;
  justify-content: center;
  border: inherit;
  padding-top: 3%;
}

@media (width <=900px) {
  .FooterMainSiguenosTextoTexto {
    font-size: 8px;
  }
}


.FooterBotonReservar {
  background-color: #31464e;
  color: #cfbfae;
  font-family: 'Montserrat';
  font-size: 15px;
  text-decoration: "none";
  margin-left: 25%;
  width: 50%;
}

@media (width <=900px) {
  .FooterBotonReservar {
    font-size: 5px;
  }
}
/* Parte creacion 2023 */
.FooterCreacion {
  background-color: #cfbfae;
  display: flex;
  justify-content: center;
  width: 100%;
  border: inherit;
  color: black;
  font-size: 15px;
  padding-top: 1%;
  padding-bottom: 1%;
}

@media (width <=900px) {
  .FooterCreacion {
    font-size: 10px;
  }
}
/* Parte legal del footer color flojo */
.FooterLegalidad {
  display: flex;
  justify-content: left;
  width: 100%;
  border: none;
  color: #cfbfae;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
}

.FooterLegalidadTexto {
  color: #cfbfae;
  font-style: normal;
  font-size: 17px;
}

@media (width <=900px) {
  .FooterLegalidadTexto {
    font-size: 8px;
  }
}

.FooterLegalidadBotonArriba {
  background-color: #e2dcd9;
  color: #cfbfae;
  border: inherit;
  font-size: 17px;
  margin-right: 5%;
  width: 10%;
}

@media (width <=900px) {
  .FooterLegalidadBotonArriba {
    font-size: 8px;
  }
}