/* Main */
.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  border: none;
  color: black;
  font-family: 'Josefin Sans';
  font-weight:300;
}

.FooterMain {
  background-color: #cfbfae;
  display: flex;
  flex-direction: row;
  border: inherit;
  color: black;
  width: 100%;
  padding-top: 1.5%;
  padding-bottom: 1%;
}

/* Parte izquierda Descarga */
.FooterMainDescarga {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  margin-left: 18%;
  border: inherit;
}

@media (width <=900px) {
  .FooterMainDescarga {
    margin-left: 10%;
    width: 50%;
  }
}

.FooterMainDescargaImagen {
  display: flex;
  margin-right: 25%;
  width: 70%;
  align-items: right;
  justify-content: right;
  border: inherit;
}

.FooterMainDescargaTexto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: inherit;
  height: 100%;
}

.FooterMainDescargaTextoTitulo {
  font-size: 17px;
  border: inherit;
}

.FooterMainDescargaTextoTexto {
  font-size: 15px;
  border: inherit;
}

.FooterMainDescargaBoton {
  background-color: #31464e;
  color: #cfbfae;
  border: inherit;
  width:45%;
  margin-left: 20%;
}

@media (width <=900px) {
  .FooterMainDescargaBoton {
    width:65%;
    margin-left: 12%;
  }
}

.LinkBoton {
  display: flex;
  font-family: 'Montserrat';
  justify-content: center;
  text-decoration: "none";
  color: #cfbfae;
  font-size: 15px;
  border: none;
  width:30%;
  border-radius: 40%;
}


/* Parte derecha Siguenos */
.FooterMainSiguenos {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-between;
  width: 30%;
  border: inherit;
}

@media (width <=900px) {
  .FooterMainSiguenos {
    width: 50%;
  }
}

.FooterMainSiguenosIcono {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border: inherit;
  height: 20%;
  scale:0.7;
}

@media (width <=900px) {
  .FooterMainSiguenosIcono {
    scale: 0.35;
  }
}

.FooterMainSiguenosIconoIcono {
  border: inherit;
}

.FooterMainSiguenosTextoTitulo {
  font-size: 18px;
  display: flex;
  justify-content: center;
  border: inherit;
}

.FooterMainSiguenosTextoTexto {
  font-size: 15px;
  display: flex;
  justify-content: center;
  border: inherit;
  padding-top: 3%;
}

.FooterBotonReservar {
  background-color: #31464e;
  color: #cfbfae;
  font-family: 'Montserrat';
  font-size: 15px;
  text-decoration: "none";
  margin-left: 25%;
  width: 50%;
}

@media (width <=900px) {
  .FooterBotonReservar {
    margin-left: 20%;
    width: 60%;
  }
}
/* Parte creacion 2023 */
.FooterCreacion {
  background-color: #cfbfae;
  display: flex;
  justify-content: center;
  width: 100%;
  border: inherit;
  color: black;
  font-size: 15px;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Parte legal del footer color flojo */
.FooterLegalidad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  color: #cfbfae;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
}

.FooterLegalidadTexto {
  color: #cfbfae;
  font-style: normal;
  border:inherit;
  font-size: 17px;
}


.FooterLegalidadBotonArriba {
  background-color: #e2dcd9;
  color: #cfbfae;
  font-size: 17px;
  margin: 0;
  margin-right: 3%;
  width: 15%;
  border:none;
}

@media (width <=900px) {
  .FooterLegalidadBotonArriba {
    display: none;
    width: 10%;
    margin-right: 0%;
  }
}

.FooterLegalidadBotonArribaMobile {
  display:none;
  background-color: #e2dcd9;
  color: #cfbfae;
  margin: 3%;
  padding:0;
  border:none;
}

@media (width <=900px) {
  .FooterLegalidadBotonArribaMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 10%;
    margin-right: 0%;
  }
}