.FormularioBase {
    background-color: #b69f8e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Josefin Sans';
    color: black;
    border: none;
    font-weight:300;
    font-size: 20px;
}

@media (width <=1200px) {
    .FormularioBase {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.FormularioTitulo {
    font-size: 40px;
    color: #e2dcd9;
    font-family: 'coax';
    margin-top:5%;
    margin-bottom: 3%;
    border: inherit;
    text-align: center;
}



.FormularioTexto {
    font-size: 20px;
    font-family: 'Josefin Sans';
    border: inherit;
    text-align: justify;
    line-height: 1.5;
}

.FormularioInputs {
    display: flex;
    flex-direction: column;
    border: inherit;
    margin-bottom:5%;
    width:60%;
    padding:0;
    gap:1.5rem;
}

@media (width <=1100px) {
    .FormularioInputs {
        width:80%;
        gap:0.5rem;
    }
}

.InputsDivision {
    display: flex;
    justify-content: space-between;
    border: inherit;
    margin-top: 2%;
    gap:2rem;
}

.FormularioBloque{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border:inherit;
    width: 100%;
    gap:0.5rem;
}

.InputsTexto {
    font-family: 'Josefin Sans';
    justify-content: space-between;
    font-size: 20px;
    border: 2px solid black;
    width: 100%;
    min-height: 40px;
    font-weight:300;
}
.ExplicacionDivision {
    display: flex;
    justify-content: space-between;
    border: inherit;
}

.ExplicacionTexto {
    font-family: 'Josefin Sans';
    font-weight:300;
    justify-content: space-between;
    font-size: 20px;
    min-height: 30vh;
    border: 2px solid black;
    width: 100%;
    font-weight:300;

}
@media (width <=1100px) {
    .ExplicacionTexto {
        min-height: 15vh;
    }
}
/* Boton envio */
.EnvioDivision {
    display: flex;
    flex-direction: column;
    border: inherit;
    font-family: 'Josefin Sans';
    font-weight:300;
}
.PoliticaDivision {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: inherit;
    margin-bottom: 2%;
}

.EnvioTextoPolitica {
    font-size:15px;
    border: inherit;
    justify-content: left;
    align-items: center;
}

.EnvioBotonContainer{
    display: flex;
    justify-content: right;
    border: inherit;
}
.EnvioBoton {
    background-color: #e2dcd9;
    color:black;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 18px;
    width: 120px;
    height: 40px;
    margin-top: 2%;
    border: inherit;
    font-weight:300;
    border-radius: 0;
}
@media (width <=1200px) {
    .EnvioBoton {
    }
}

.InputsEtiquetas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: inherit;
    text-align: justify;
    line-height: 1.5;
}

