.FondoClaro {
    background-color: #e2dcd9;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: left;
    font-family: 'Josefin Sans';
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    border: none;
    font-size: 18px;
    font-weight: 300;
}

@media (width <=1200px) {
    .FondoClaro {
        width:95%;
        margin-left: 2.5%;
    }
}

.TituloContainer {
    display: flex;
    border: inherit;

}

.Titulo {
    font-family: 'Josefin Sans';
    font-size: 30px;
    border: inherit;
}

.ListaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-top: 5%;
    padding-top: 4%;
    margin-bottom: 4%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.ListaTitulo {
    display: flex;
    border: none;
    font-size: 25px;
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 5%;
}

.ListasContainer {
    display: flex;
    flex-direction: row;
    border: none;
}

.ListaIzquierda {
    border: none;
    padding-right: 5%;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 3%;
}

ul.UnorderListIzquierda {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style: '✔ ';
    list-style-image:  url('../images/Tick40x40.png');
    height: 1100px;
}

li.ListItemIzquierda {
	margin: 0;
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image:url('../images/Tick100x100.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}


.ListaDerecha {
    border: none;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 3%;

}

ul.UnorderListDerecha {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style: '\2716  ';

}


li.ListItemDerecha {
	margin: 0;
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image:url('../images/Tick100x100.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

.BotonReservar {
    font-family: 'Montserrat';
    border: none;
    background-color:#31464e ;
    color: #e2dcd9;
    height: 40px;
    width: 180px;
    border-radius: 0;
    font-size: 18px;
}