.TablasContainer {
    background-color: #cfbfae;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-content: center;
    font-family: 'Josefin Sans';
    padding-top:3%;
    padding-bottom: 3%;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: 300;
}

.TablasTituloContainer {
    border:inherit;
    width:60%;
    margin-left: 20%;
    padding-bottom: 3%;
}
@media (width <=1200px) {
    .TablasTituloContainer {
        width:80%;
        margin-left: 10%;
    }
}

.TablasTitulo {
    border:inherit;
    font-size: 30px;
}

.TablasTablaContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    border:inherit;
    width:60%;
    margin-left: 20%;
    padding-bottom: 1%;
}

@media (width <=1200px) {
    .TablasTablaContainer {
        width:80%;
        margin-left: 10%;
    }
}

.TablasPrecioTachado{
    text-decoration:line-through;
}
.TablasCondicionesContainer {
    display: flex;
    flex-direction: column;
    border:inherit;
    width:60%;
    margin-left: 20%;
    margin-bottom: 2%;
}

@media (width <=1200px) {
    .TablasCondicionesContainer {
        width:80%;
        margin-left: 10%;
    }
}

.TablasCondiciones {
    border:inherit;
    font-size:20px;

}

.TablasBotonContainer {
    display: flex;
    justify-content: center;
    border:inherit;
    width:70%;
    margin-left: 15%;
}

.TablasBotonReservar {
    border:inherit;
    width:15%;
}

@media (width <=1200px) {
    .TablasBotonReservar {
        width:45%;
    }
}

th {
    border: 1px solid #e2dcd9;
    font-weight: 300;
    padding:1.5%;
}
.TableHeader {
    font-weight: 400;

}