.App {
  text-align: center;
  background-color: #31464e;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
  background-color: #31464e;
}
.App-header {
  background-color: #31464e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  font-style:normal;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 10000;
  color: #cfbfae;
}
.App-link {
  color: #cfb051;
}

@media (300px <= width <= 900px){
  .App-header {
    font-size: calc(30px + 2vmin);
  }
}
